.list-item__date {
  font-size: 52rpx;
  padding: 30rpx 20rpx 0 40rpx;
}
.list-item__title {
  background-color: #ffffff;
  margin: 20rpx;
  font-size: 32rpx;
  padding: 30rpx 20rpx;
  border-radius: 10rpx;
}
